[Unit]
Description=Fastboot Proxy
After=multi-user.target

[Service]
Type=simple
User=root
Group=root
Restart=always
ExecStart=/usr/bin/python3 /bin/fastbootProxy.py                 
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
